/* THX things */
.thx-body {
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.thx-wrapper {
  width: 100vw;
  flex-direction: row;

  min-height: 0;
  max-height: 800px;

  overflow-y: auto;
  overflow-x: auto;
}

.thx-window {
  position: relative;
  z-index: 98;
  min-height: 0;
  max-height: 100%;
  min-width: 320px;

  padding: 20px 80px 20px 80px;
  background-color: #222;
  left: 0px;
  overflow-y: auto;
  overflow-x: hidden;
}

.thx-drawer {
  position: relative;
  height: 80vh;
  width: 80vw;
  min-width: 240px;
  min-height: 0px;

  max-width: 240px;

  background-color: #111;

  padding: 20px;
  z-index: 99;

  flex-direction: column;
  overflow-x: auto;
}
.drawer-select {
  position: relative;
  border: 1px solid #5d5d5d;
  width: 200px;
  min-height: 0px;

  /* margin-bottom: 1.25rem; */
  /* max-height: 90%;
  height: 90%; */

  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}
.thx-puller-border {
  z-index: 100;
  border: 1px solid #707070;
  position: fixed;
  height: 36px;
  width: 26px;
  top: 360px;
  left: 296px;
  background-color: #222;
  overflow: hidden;
}
.thx-puller {
  transform: rotate(0deg);

  height: 36px;
  width: 26px;
  background-color: #111;
  background-image: url('../img_ui/puller.png');
  background-repeat: no-repeat;
  background-position: center;

  will-change: transform;
  transition: transform 0.2s;
}
.thx-puller.expand {
  transform: rotate(180deg);
}
.thx-puller:hover {
  background-color: #222;
  cursor: pointer;
  background-image: url('../img_ui/puller_w.png');
}
.drawer-select .toolbar {
  position: relative;
  bottom: 0px;
  width: 100%;
  max-height: 29px;
  background-color: #222;
  border-top: 1px solid #707070;
  display: flex;
  flex: 0;
  flex-direction: row-reverse;
}
.drawer-select .icon {
  height: 28px;
  width: 28px;
  max-width: 28px;
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;

  will-change: background-color;
  transition: background-color 0.2s;
}
.toolbar .icon {
  will-change: opacity;
  transition: opacity 0.3s linear;
}
.toolbar .icon.add {
  background-image: url('../img_ui/icon_plus.svg');
}
.toolbar .icon.edit {
  background-image: url('../img_ui/icon_edit.svg');
  display: none;
}
.toolbar .icon.delete {
  background-image: url('../img_ui/icon_delete.svg');
  display: none;
}
.toolbar .icon.edit.show,
.toolbar .icon.delete.show {
  display: block;
}
.toolbar .icon.up {
  background-image: url('../img_ui/icon_arrow_up.svg');
  position: absolute;
  left: 0;
}
.toolbar .icon.down {
  background-image: url('../img_ui/icon_arrow_down.svg');
  position: absolute;
  left: 30px;
}
.toolbar .icon:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
.toolbar .icon:active {
  background-color: rgba(0, 0, 0, 0.5);
}
.toolbar .icon.disabled:hover,
.toolbar .icon.disabled:active,
.toolbar .icon.disabled {
  background-color: transparent;
  cursor: default;
  opacity: 0.3;
}
.profile-item {
  max-height: 30px;
  height: 30px;
  border: none;
  color: #ccc;
  text-transform: capitalize;
  padding: 5px 10px 5px 36px;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  width: 100%;
  position: relative;
  z-index: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;

  will-change: color, background-color;
  transition:
    color 0.2s,
    background-color 0.2s;
}
input.profile-item {
  z-index: 30;
  font-family: 'Roboto', sans-serif;
  position: relative;
  display: none;
  width: calc(100% - 30px);
  margin-left: 30px;
  border: 1px solid #44d62c;
  box-sizing: border-box;
  background-color: #111 !important;
  padding: 3px 10px 5px 5px;
  line-height: 20px;
}
input.profile-item.show {
  display: block;
}
.profile-item:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
}
.profile-item:active {
  color: #44d62c;
  background-color: rgba(255, 255, 255, 0.1);
}
.profile-item.active {
  color: #44d62c;
}
input.profile-item:active {
  color: #ccc;
}
.profile-item::before {
  content: ' ';
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  left: 10px;
  background-position: center;
}
.profile-item.default::before {
  background-image: url('../img_ui/icon_profiles_default.svg');
}
.profile-item.game::before {
  background-image: url('../img_ui/icon_profiles_game.svg');
}
.profile-item.movie::before {
  background-image: url('../img_ui/icon_profiles_movie.svg');
}
.profile-item.music::before {
  background-image: url('../img_ui/icon_profiles_music.svg');
}
.profile-item.custom::before {
  background-image: url('../img_ui/icon_profiles_custom.svg');
}
.profile-item.default:active::before,
.profile-item.default.active::before {
  background-image: url('../img_ui/profile_sel_default.svg');
}
.profile-item.game:active::before,
.profile-item.game.active::before {
  background-image: url('../img_ui/profile_sel_game.svg');
}
.profile-item.movie:active::before,
.profile-item.movie.active::before {
  background-image: url('../img_ui/profile_sel_movie.svg');
}
.profile-item.music:active::before,
.profile-item.music.active::before {
  background-image: url('../img_ui/profile_sel_music.svg');
}
.profile-item.custom:active::before,
.profile-item.custom.active::before {
  background-image: url('../img_ui/profile_sel_custom.svg');
}
.thx-logo {
  width: 167px;
  height: 24px;
  background-image: url('../img_ui/logo.png');
  background-repeat: no-repeat;
  max-height: 24px;
  margin-bottom: 20px;
  position: absolute;
  bottom: 0px;
  left: 67px;
}
.profile-del {
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 300px;
  background-color: #111;
  border: 1px solid #c8323c;
  border-radius: 3px;
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
  padding: 20px;
  left: 127px;
  top: 205px;
  display: flex !important;
  visibility: hidden;
  opacity: 0;

  will-change: visibility, opacity;
  transition:
    visibility 0s,
    opacity 0.3s linear;
}
.profile-del.show {
  visibility: visible;
  opacity: 1;
}
.alert .title {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #c8323c;
  text-align: center;
  line-height: 17px;
}
.alert .body-text {
  margin: 10px;
}
.alert div.thx-btn {
  height: 27px;
  width: auto;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  line-height: 17px;
  background-color: #c8323c;
  padding: 4px 0;
  min-width: 90px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
#profileList {
  max-height: 95%;
  min-height: 0;
  position: relative;
  width: 100%;
  flex: 1;
}

/* From eq/main.CSS */
/* global */


.insert-ref {
  display: none;
}

/* button style */
.thx-btn-row {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.thx-btn {
  text-transform: uppercase;
  border-radius: 3px;
  background-color: #44d62c;
  color: #000;
  display: inline-block;
  width: auto;
  padding: 0.5rem 1.5rem;
  user-select: none;
  text-align: center;

  will-change: opacity;
  transition: opacity 0.3s;
}
.thx-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}
.thx-btn:active {
  cursor: pointer;
  opacity: 0.6;
}
.thx-btn.sm {
  height: 27px;
  width: 90px;
  font-size: 12px;
  line-height: 11px;
  display: block !important;
  margin: auto;
  margin-top: 20px;
}
.thx-btn.secondary {
  background-color: #707070;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: #fff;
  display: block !important;
  margin: auto;
}
.thx-btn.disabled,
.thx-btn.disabled:hover,
.thx-btn.disabled:hover {
  opacity: 0.3;
  cursor: default;
}
.thx-btn-row.fix {
  width: calc(100% - 40px);
  margin: auto;
  margin-top: 20px;
}
.thx-btn-row .thx-btn {
  min-width: 90px;
  padding-left: 0;
  padding-right: 0;
  margin: 0 5px 0 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

/* title style */
.main-title {
  color: #44d62c;
  font-family: 'RazerF5';
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
  font-weight: normal;
  max-height: 24px;
  margin-bottom: 20px;
}
.sub-title {
  width: 100%;
  padding: 0 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sub-title > h1 {
  color: #ccc;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  margin-bottom: 20px;
}

/* body */
.body-text {
  font-size: 14px;
  color: #ccc;
  line-height: 17px;
}
.t-center {
  text-align: center;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 6px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-top: 2px solid rgba(0, 0, 0, 0);
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}
::-webkit-scrollbar-thumb:hover {
  background: #44d62c;
  border-radius: 4px;
  width: 6px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-top: 2px solid rgba(0, 0, 0, 0);
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}
::-webkit-scrollbar-thumb:active {
  background: #2f941e;
  border-radius: 4px;
  width: 6px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-top: 2px solid rgba(0, 0, 0, 0);
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

/* overlay */
.disable-overlay {
  width: 1000px;
  height: 640px;
  background-color: rgba(34, 34, 34, 0.7);
  position: absolute;
  top: 48px;
  left: 0;
  z-index: 100;
  visibility: hidden;
  opacity: 0;

  will-change: visibility, opacity;
  transition:
    visibility 0s,
    opacity 0.3s linear;
}
.disable-overlay {
  z-index: 102 !important;
}
.disable-overlay.on,
.disable-overlay.on .overlay-tips {
  visibility: visible;
  opacity: 1;
}
.overlay-tips {
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 104;
  position: absolute;
  background-color: #111;
  border: 1px solid #44d62c;
  border-radius: 5px;
  padding: 20px 30px;
  opacity: 0;
  font-size: 14px;
  color: #ccc;
  text-align: center;
  line-height: 17px;
  visibility: hidden;
  opacity: 0;

  will-change: visibility, opacity;
  transition:
    visibility 0.3s,
    opacity 0.3s linear;
}
.overlay-tips a {
  font-size: 14px;
  color: #ccc;
  line-height: 17px;
  text-decoration: underline;
}
.overlay-tips a,
.overlay-tips a:visited {
  font-size: 14px;
  color: #ccc;
  line-height: 17px;
  text-decoration: underline;
}
.overlay-tips a:hover {
  color: #44d62c;
  cursor: pointer;
}
.overlay-tips a:active {
  opacity: 0.7;
}
/* lite */
.lite-overlay {
  width: 1000px;
  height: 640px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 48px;
  left: 0;
  z-index: 100;
  visibility: hidden;
  opacity: 0;

  will-change: visibility, opacity;
  transition:
    visibility 0s,
    opacity 0.3s linear;
}
.lite-overlay {
  z-index: 102 !important;
}
.lite-overlay.on,
.lite-overlay.on .overlay-tips {
  visibility: visible;
  opacity: 1;
}
